body {
  background-color: #e9ecef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
canvas {
  margin: auto;
  display: block;
  background-color: #fff;
  padding-top: 10px;
  border-radius: 10px;
}
.tinytext {
  width: 10px;
}

#mover {
  width: 25px;
  height: 50px;
  background: rgb(255, 0, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 255) 20%,
    rgba(69, 173, 176, 0) 45%,
    rgba(0, 212, 255, 0) 70%,
    rgba(255, 0, 255) 85%
  );
  position: absolute;
  border-top: 1px black solid;
  border-bottom: 3px black solid;
  z-index: 900;
  margin-top: 12px;
  margin-left: 22px;
}

.mover-top {
  width: 100%;
  height: 10px;
  z-index: 901;
  background-color: green;
}

.mover-bottom {
  width: 100%;
  margin-top: 5px;
  height: 10px;
  background-color: yellow;
}

/* Scroll 4 */
.sc4::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.sc4::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.sc4::-webkit-scrollbar-thumb {
  background-color: #e78632;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 20%,
    transparent 20%,
    transparent 40%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    transparent 60%,
    transparent 80%,
    rgba(255, 255, 255, 0.3) 80%
  );
  border-radius: 10px;
}
