body {
  background-color: #e9ecef;
  
}
canvas {
  margin: auto;
  display: block;
  background-color: #fff;
  padding-top: 10px;;
  border-radius: 10px;
}
.tinytext {
  width: 10px;
}

/* Scroll 4 */
.sc4::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.sc4::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.sc4::-webkit-scrollbar-thumb {
  background-color: #e78632;
  background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
  border-radius: 10px;
}