body {
  background-color: #e9ecef;
  
}
canvas {
  margin: auto;
  display: block;
  background-color: #fff;
  padding-top: 10px;;
  border-radius: 10px;
}
.tinytext {
  width: 10px;
}

#notesText
{
  
}
